<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">
    <meta charset="UTF-8">
    <title>POC - SonataFlow GitHub OAuth App</title>
        {#bundle /}
    <!-- BUG:  https://github.com/quarkiverse/quarkus-web-bundler/issues/310 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="text-center">
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <img class="mb-4" src="/static/sonataflow-logo.png" alt="" width="100" height="">
        <h1 class="text-body-emphasis">SonataFlow and GitHub OAuth App</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Click in the button bellow to login with your GitHub account and give consent for the SonataFlow app to run
            and fetch your information.
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <a role="button" class="btn btn-dark btn-lg rounded-pill"
               href="https://github.com/login/oauth/authorize?scope=user:email&client_id={clientId}"><i
                        class="bi bi-github"></i> Sign in with Github</a>
        </div>
    </div>
</div>

</body>
</html>